.thumbnail{
  width: 100%;
  object-fit: contain;
  
}
.search-bar{
  border: 1px solid gray;
  color: gray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.video-title{
  margin-top: 0px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
  font-size: 16px;
}
.video-author{
  margin-bottom: 0;
  margin-top: 8px;
  font-size: 14px;
  color: rgb(96, 96, 96);
  
}
.video-stats{
  margin-top:8px;
  font-size: 14px;
  color: rgb(96, 96, 96);
}
.video-preview{
  /* width: 300px; */
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto", sans-serif;

}
.div-channel-picture{
  vertical-align: top;
}
.channel-picture{  
  width: 40px;
  object-fit: contain;
  border-radius: 50px;
}
.video-info{
  margin-left: 8px;
}
.video-column{
  margin-top: 16px;
  display: grid;
  grid-template-columns: 40px 1fr;
}
.thumbnail-row{
}
.videos{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}